@use "../abstracts/vars" as *;
body{
  background-color: $dark;
}
header{
  width: 100vw;
  height: 5vw;
  margin-bottom: .3rem;
  margin-top: -.4rem;
  z-index: 20;
  background-image: url('../../background/navig.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(95, 87, 127, 0.267);
}
.backgroundanim {
  z-index: -10;
  text-align: center;
 background-color: $dark;
 color: $orange;
 width: 100vw;
 height: 96vh;
 overflow: hidden;
}
.bck-text{
  margin: -.6rem 0 0 0;
  padding: 0;
  font-family: "Uniform-Pro-Blk";
  font-size: 6.85rem;
  overflow: hidden;
  text-transform: uppercase;
}
.filled{
  z-index: -9;
}
.empty{
  color: $dark;
  -webkit-text-stroke: 2px $orange;
  z-index: -12;
}


.sentence {
  animation: vertical-unfold 1.5s ease-out 1;
}

@keyframes vertical-unfold {
  0% {
    margin-top: -10rem;
    // opacity: 0;
  }
  100%{
    margin-top: -.6rem;
    // opacity: 0;
  }
}
